*{
margin: 0;
padding: 0;
border: none;
}

body{
    height: 100vh;
}
p{
    color: white;
    font-size: 40px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header,
main,
footer {
   display: flex;
}
header {
   background-color: rgb(243, 108, 108);
   height: 30vh;
   justify-content: flex-start;
   align-items: center;
}
main {
   background-color: rgb(14, 95, 14);
   height: 40vh;
   justify-content: center;
   align-items: center;
}
footer {
   background-color: rgb(12, 12, 86);
   height: 30vh;
   justify-content: flex-end;
   align-items: center;
}